DATABASE_URL=sqlite:////data/prod.db
SERVER_PORT=4000
SERVER_HOST_PORT=8080
CLIENT_HOST_PORT=80
CLIENT_ORIGIN=http://localhost:3000
INTERNAL_API_URL=http://server:4000
NEXT_PUBLIC_API_URL=http://localhost:8080
NEXT_PUBLIC_SITE_URL=http://localhost
